{% extends 'base.html.twig' %}

{% block title %} Audioteka {% endblock %}

{% block body %}

    <header id="head" class="secondary"></header>

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Moja Lista</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Moja Lista</h1>
                </header>

                <table id = "tableList" class="table table-striped" >
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(userCatalogs, 'Tytuł', 'discId.title') }}</th>
                        <th>{{ knp_pagination_sortable(userCatalogs, 'Autor', 'discId.authorId') }}</th>
                        <th>{{ knp_pagination_sortable(userCatalogs, 'Gatunek', 'discId.genreId') }}</th>
                        <th>Opcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for userCatalog in userCatalogs %}
                        <tr>
                            <td>{{ userCatalog.discId.title}}</td>
                            <td>{{ userCatalog.discId.authorId}}</td>
                            <td>{{ userCatalog.discId.genreId}}</td>
                            <div class="text-right">
                                <td>
                                        <a href="#"
                                           class="btn btn-danger btn-xs delete"
                                           data-type="userCatalog"
                                           data-id="{{ userCatalog.id }}">Usuń</a>
                                </td>
                            </div>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id = "centerSide">
                    {{ knp_pagination_render(userCatalogs) }}
                </div>

            </article>

        </div>
    </div>
    <div class="top-space"></div>

{% endblock %}

{% block javascripts %}
    <script src="/js/delete.js"></script>
{% endblock %}