{% extends 'base.html.twig' %}

{% block title %} Audioteka {% endblock %}

{% block body %}

    <header id="head" class="secondary"></header>

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Albumy</li>
        </ol>

        <div class="row">

            {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

            {% for message in app.flashes('update') %}
                <div class="alert alert-warning">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Albumy</h1>
                </header>
                <div id="rightSideFormSearch">
                    <form id="search-form" class="pure-form pure-form-stacked">
                        <fieldset>
                            <p>  <input type="text" name = "search_title" id = "search_title" placeholder="Tytuł"/></p>
                            <button href = "/disc" type="submit" class="btn btn-default btn-sm">Szukaj</button>
                        </fieldset>
                    </form>
                </div>

                <table id = "tableList" class="table table-striped" >
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(discs, 'Tytuł', 'title') }}</th>
                        <th>{{ knp_pagination_sortable(discs, 'Autor', 'authorId') }}</th>
                        <th>{{ knp_pagination_sortable(discs, 'Gatunek', 'genreId') }}</th>
                        <th>Opcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for disc in discs %}
                        <tr>
                            <td>{{ disc.title }}</td>
                            <td>{{ disc.authorId }}</td>
                            <td>{{ disc.genreId }}</td>
                            <div class="text-right">
                                <td>
                                     {% if is_granted('ROLE_ADMIN') %}
                                         <a href = "/disc/edit/{{ disc.id }}"
                                            class="btn btn-default btn-xs"
                                            role="button">Edytuj</a>&nbsp&nbsp
                                    <a href="#"
                                       class="btn btn-danger btn-xs delete"
                                       data-type="disc"
                                       data-id="{{ disc.id }}">Usuń</a>
                                    {% elseif is_granted('ROLE_USER') %}
                                        <a href = "/disc/addToList/{{ disc.id }}"
                                           class="btn btn-default btn-xs"
                                           role="button">Dodaj do mojej listy</a>&nbsp&nbsp
                                    {% endif %}
                                </td>
                            </div>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id = "centerSide">
                    {{ knp_pagination_render(discs) }}
                </div>

            </article>

        </div>
    </div>
    <div class="top-space"></div>

{% endblock %}

{% block javascripts %}
    <script src="/js/delete.js"></script>
{% endblock %}